@import 'bootstrap';

// --------------------------------------------------------------------------
// ---- VARIABLES -----------------------------------------------------------
// --------------------------------------------------------------------------

// Bootstrap screen widths
$bs-screen-xs: 480px;
$bs-screen-sm: 768px;
$bs-screen-md: 992px;
$bs-screen-lg: 1200px;

// Standard margins
$M: 20px;
$bs-margin: 15px;

// Colors
$color-almost-black:     #0d0d0d;
$color-blackish:         #272727;

$color-gray-1:           #333;
$color-gray-2:           #3a3a3a;
$color-gray-3:           #545454;
$color-gray-4:           #5b5b5b;
$color-gray-5:           #666;
$color-gray-6:           #7a7a7a;
$color-gray-7:           #737373;
$color-gray-8:           #888;
$color-gray-9:           #8d8d8d;
$color-gray-10:          #9d9d9d;
$color-gray-11:          #bdbdbd;
$color-gray-12:          #c1c1c1;
$color-gray-13:          #d1d1d1;
$color-gray-14:          #d8d8d8;
$color-gray-15:          #eee;

$color-bg-gray:          #f0f0f0;
$color-bg-pale-gray:     #f7f7f7;

$color-almost-white:     #fcfcfc;

$color-light-maroon:     #cf0228;
$color-maroon:           #a00019;
$color-dark-maroon:      #660000;

// Borders
$border-thickness: 1px;
$border-dark-gray: $border-thickness solid $color-gray-9;
$border-gray:      $border-thickness solid $color-gray-14;
$border-pale-gray: $border-thickness solid $color-gray-15;

// Font sizes
$font-size-article-header: 20px;

// File paths
$images-path: '../images/';


// --------------------------------------------------------------------------
// ---- BOOTSTRAP OVERWRITES ------------------------------------------------
// --------------------------------------------------------------------------

a {
  color: $color-gray-1;
  
  &:hover {
    color: $color-gray-1;
  }
}

.btn {
  border-radius: 0;
}

// --------------------------------------------------------------------------
// ---- KT MIXINS -----------------------------------------------------------
// --------------------------------------------------------------------------

@mixin kt-bordered {
  border: $border-gray;
}
@mixin kt-bordered-pale {
  border: $border-pale-gray;
}
@mixin kt-col-v-base {
  float: none;
  display: inline-block;
}
@mixin kt-col-v-center {
  @include kt-col-v-base;
  vertical-align: middle;
}
@mixin kt-col-v-bottom {
  @include kt-col-v-base;
  vertical-align: bottom;
}
@mixin kt-fit-to-width {
  max-width: 100%;
}
@mixin kt-bg-pale-gray {
  background-color: $color-bg-pale-gray;
}
@mixin kt-bg-gray {
  background-color: $color-bg-gray;
}

// --------------------------------------------------------------------------
// ---- KT REUSABLE ---------------------------------------------------------
// --------------------------------------------------------------------------

.kt-box {
  @include kt-bordered;
  margin-bottom: $M;
  padding:       $M/2;
}
.kt-social {
  @extend .kt-box;
  margin: $M 0;
}
.kt-btn-black {
  background-color: $color-blackish;
  color:            $color-almost-white;
  
  &:hover {
    background-color: $color-almost-black;
    color:            $color-almost-white;
  }
}

// --------------------------------------------------------------------------
// ---- KT BODY -------------------------------------------------------------
// --------------------------------------------------------------------------

#kt-body {
  @include kt-bg-gray;
  background-image:  url($images-path + 'kt_bg_top.jpg');
  background-repeat: repeat-x;
  background-size:   100% 530px;
  padding-top:       $M/2;
}

// --------------------------------------------------------------------------
// ---- KT LOGIN PANEL ------------------------------------------------------
// --------------------------------------------------------------------------

#kt-login-panel {
  @extend .col-md-12;
  @extend .text-right;
  
  a {
    color: $color-gray-13;
    font:  14px bold 'Arial';
    
    span {
      color:        $color-gray-5;
      margin-right: $M/3;
    }
    
    &:hover {
      color: $color-almost-white;
      span { color: $color-gray-8; }
    }
  }
}

// --------------------------------------------------------------------------
// ---- KT LOGO AND SEARCH BAR ----------------------------------------------
// --------------------------------------------------------------------------

#kt-logo-search {
  margin-top: $M/2;
  
  #kt-col-logo {
    @extend .col-xs-3;
    @include kt-col-v-center;
  }
  
  #kt-col-search-bar {
    @extend .col-md-5;
    @extend .col-md-offset-4;
    @extend .col-sm-6;
    @extend .col-sm-offset-3;
    @include kt-col-v-center;
    
    @media (max-width: $bs-screen-sm) {
      display: none;
    }
    
    form {
      margin-bottom: 0;   // Form has a 1em margin-bottom by default.
      
      .form-group {
        margin: 0;
        
        .form-control {
          border:           $border-dark-gray;
          border-right:     0;
          border-radius:    0;
          background-color: black;
          color:            $color-gray-7;
          padding:          $M*1.2;
          font:             14px 'Arial';
          
          &:focus {
            box-shadow: none;
          }
          
          @media (max-width: $bs-screen-md) {
            padding: $M;
          }
        }
        
        .input-group-btn {
          border:           $border-dark-gray;
          border-left:      0;
          background-color: black;
          
          .btn {
            background-color: black;
            outline:          none;
            
            span {
              color: $color-maroon;
            }
          }
        }
      }
    }
  }
  
  #kt-col-navbar-toggle {
    @extend .col-xs-6;
    @extend .col-xs-offset-3;
    @include kt-col-v-bottom;
    
    #kt-navbar-toggle {
      background-color: rgba(60,60,60,0.7);
      border-color:     $color-gray-10;
      color:            $color-gray-5;
      border-radius:    0;
      
      &:hover {
        border-color: $color-gray-12;
        color:        $color-gray-9;
      }
      
      &.collapsed {
        background: none;
      }
    }
  }
}

// --------------------------------------------------------------------------
// ---- KT NAVBAR (ON TOP OF BOOTSTRAP NAVBAR) ------------------------------
// --------------------------------------------------------------------------

#kt-navbar {
  border-radius:    0;
  background-color: $color-blackish;
  margin-top:       -33px;
  min-height:       $M*2;
  font:             16px bold 'Open Sans Condensed';
  
  @media (max-width: $bs-screen-lg) {
    margin-top: -28px;
  }
  
  @media (max-width: $bs-screen-md) {
    margin-top: -23px;
  }
  
  @media (max-width: $bs-screen-sm) {
    min-height:   0;
    margin-left:  -$bs-margin;
    margin-right: -$bs-margin;
  }
  
  .navbar-collapse {
    padding-left:  0;
    padding-right: 0;
  }
  
  .nav li {
    border-left:  1px solid black;
    border-right: 1px solid $color-gray-3;
    
    &:hover {
      border-right: 1px solid $color-maroon;
      background-color: $color-maroon;
    }
    
    &:first-child {
      border-left: 0;
    }
    
    a {
      padding: $M $M*2.25;
      color:   white;
      
      .glyphicon {
        font-size:   16px;
        line-height: 20px;
      }
      
      @media (max-width: $bs-screen-lg) {
        padding: $M/1.33 $M*1.66;
        
        .glyphicon {
          font-size: 14px;
        }
      }
      
      @media (max-width: $bs-screen-md) {
        font-size: 12px;
        padding: $M/2 $M*1.25;
        
        .glyphicon {
          font-size: 12px;
        }
      }
      
      @media (max-width: $bs-screen-sm) {
        font-size: 14px;
        padding: $M/1.5 $M*1.75;
        
        .glyphicon {
          font-size: 14px;
        }
      }

    }
  
  }
}

// --------------------------------------------------------------------------
// ---- KT WHITE SHEET ------------------------------------------------------
// --------------------------------------------------------------------------

#kt-white-sheet {
  @include kt-bordered-pale;
  
  background-color: white;
  box-shadow:       0px $M/1.25 $M*1.5 $color-gray-9;
  width:            1260px; 
  margin:           auto; 
  margin-top:       52px;
  font:             14px 'Arial';
  color:            $color-gray-2;
  
  @media (max-width: 1260px) {
    width:  auto;
    border: 0;
  }
  
  @media (max-width: $bs-screen-sm) {
    padding-top: $M;
    margin-top:  $M*1.5;
  }
}

// --------------------------------------------------------------------------
// ---- KT ARTICLE ----------------------------------------------------------
// --------------------------------------------------------------------------

#kt-left-panel {
  @extend .col-md-8;
  
  .kt-article {
    
    h1, h2 {
      color:       $color-blackish;
      margin-top:  $M*1.5;
      font-weight: bold;
    }
    h1 {
      font-size: $font-size-article-header;
    }
    h2 {
      font-size:     $font-size-article-header;
      margin-bottom: $M;
    }
    
    .kt-article-big-image {
      @include kt-fit-to-width; 
      @include kt-bordered;
    }
    
    .kt-article-info {      
      width:         100%;
      padding-left:  0;
      margin-bottom: 0;
      font-size:     12px;
      color:         $color-gray-6;
      
      li {
        list-style:   none;
        display:      inline-block;
        margin-right: $M;
        
        &:nth-child(1) {
          margin-left: 0;
        }
        
        @media (max-width: $bs-screen-sm) {
          display: block;
          
          & + li {
            margin-top: $M/3;
          }
        }
      }
    }
    
    p {
      line-height: 1.5;
    }
    
    blockquote {
      font-weight: bold;
      font-style:  italic;
      font-size:   14px;
      line-height: 24px;
      margin:      $M*2;
      padding:     $M*0.75 $M*1.5;
      
      p { font: inherit; }
      
      footer {
        text-align: right;
        font-size:  13px;
        color:      $color-gray-11;
        
        cite {
          font-weight: normal;
        }
      }
    }
    
    .kt-col-blockquote blockquote {
      font-size:    30px;
      line-height:  1.33;
      margin:       0;
      padding:      $M*0.75;
      padding-left: $M*1.5;
    }
    
    .kt-comments-header {
      @extend .text-center;
      margin-top: $M*2;
      font-weight: bold;
      font-size:   14px;
    }
    
    .kt-comment {
      @extend .kt-box;
      margin-bottom: $M/4;
      
      .kt-comment-col-avatar {
        @extend .col-xs-2;
        @extend .col-sm-1;
        
        padding-right: $M/4;
        
        img {
          @include kt-fit-to-width;
        }
      }
      
      .kt-comment-col-right {
        @extend .col-xs-10;
        @extend .col-sm-11;
        
        .kt-comment-data {
          @extend .row;
          margin-bottom: $M/4;
          
          .kt-comment-nick {
            @extend .col-md-8;
            @include kt-col-v-center;
          }
          
          .kt-comment-time {
            @extend .col-md-4;
            @extend .text-right;
            @include kt-col-v-center;
            padding-right: $M;
            font-size:     12px;
            color:         $color-gray-9;
          }
        }
        
        p {
          font-size:   13px;
          line-height: 20px;
          color:       $color-gray-4;
        }
      }
    }
    
    .kt-comment-odd {
      @include kt-bg-gray;
      @extend .kt-comment;
    }
    
    .kt-comment-even {
      @include kt-bg-pale-gray;
      @extend .kt-comment;
    }
    
    .kt-comments-nav {
      @extend .kt-box;
      
      .kt-comments-nav-link {
        @include kt-col-v-center;
        @extend .col-xs-6;
        
        a {
          text-decoration: underline;
        }
      }
      
      .kt-comments-nav-buttons {
        @include kt-col-v-center;
        @extend .col-xs-6;
        @extend .text-right;
      }
    }
  }
}

// --------------------------------------------------------------------------
// ---- KT RIGHT PANEL ------------------------------------------------------
// --------------------------------------------------------------------------

.kt-rigth-panel {
  @extend .col-md-4;
  margin-left:   $bs-margin;
  margin-right: -$bs-margin;
  
  @media (max-width: $bs-screen-md) {
    margin-left:  -$bs-margin;
    margin-right: -$bs-margin;
  }
  
  #kt-social-buttons {
    margin-bottom: $M;
    
    div {
      @extend .col-md-4;
      @extend .col-xs-2;
      
      img {
        width: 100%;
      }
    }
    
  }
  
  .kt-table {
    width:         100%;
    border-top:    $border-gray;
    margin-bottom: $M;
    
    &:last-child {
      margin-bottom: $M*2;
    }
    
    .kt-table-row-header {
      h1, h2, h3, h4, h5 {
        margin: 0 !important; font-family: 'Open Sans Condensed';
      }
      
      .kt-table-col-left {
        @extend .col-lg-3;
        @extend .col-md-4;
        @extend .text-center;
        @include kt-col-v-center;
        padding: $M*1.5;
        border-right: $border-gray;
        
        .kt-hc-icon-popularne {
          margin-left: -12px;
          margin-top:  -8px;
        }
      }
      
      .kt-table-col-right {
        @extend .col-lg-9;
        @extend .col-md-8;
        @include kt-col-v-center;
        padding-left: $M*1.5;
      }
      
      .glyphicon {
        font-size: $M*2 !important;  
      }
    }
    
    .kt-table-row {
      padding: $M 0;
      
      .kt-table-col-image {
        @extend .col-xs-2;
        @extend .col-sm-1;
        @extend .col-md-2;
        @include kt-col-v-center;
        padding-right: $M/4;
        
        img {
          @include kt-bordered;
          @include kt-fit-to-width;
        }
      }
      
      .kt-table-col-article-info {
        @extend .col-xs-10;
        @extend .col-sm-11;
        @extend .col-md-10;
        @include kt-col-v-center;
        line-height: 1.4;
        
        a {
          font-weight: bold;
          color: $color-maroon;
        }
        .kt-table-article-timestamp {
          font-size: 12px;
          color:     $color-gray-5;
        }
        .kt-table-article-author {
          color: $color-gray-5;
        }
      }
      
    }
    
    .kt-table-row-header, .kt-table-row {
      border:           $border-gray;
      border-top:       0;
      background-color: $color-bg-pale-gray;
    }
    
  }
  
  .kt-table-black, .kt-table-maroon {
    .kt-table-row-header {
      border: 0;
      
      .kt-table-col-right {
        color: $color-gray-15;
      }
    }
  }
  
  .kt-table-black {
    
    .kt-table-row-header {
      background-color: $color-blackish;
      
      .kt-table-col-left {
        border-right: 1px solid #545454;
        box-shadow:   1px 0 0 black;
      }
    }
    
  }
  
  .kt-table-maroon {
    
    .kt-table-row-header {
      background-color: $color-maroon;
      
      .kt-table-col-left {
        border-right: 1px solid $color-dark-maroon;
        box-shadow:   1px 0 0 $color-light-maroon;
      }
    }
    
  }
}

// --------------------------------------------------------------------------
// ---- KT FOOTER -----------------------------------------------------------
// --------------------------------------------------------------------------

#kt-footer {
  width: 100%;
  margin-top: $M*4;
  color: $color-gray-14;
  line-height: 1.66;
  font-size: 13px;
  
  a {
    color: $color-gray-14;
    text-decoration: underline;
  }
  
  #kt-footer-top {
    background-color: black;
    min-height: $M*3;
    padding: $M;
    
    #kt-footer-logo {
      @extend .col-md-2;
      @include kt-col-v-center;
    }
    
    #kt-footer-more {
      @extend .col-md-10;
      @include kt-col-v-center;
    }
  }
  
  #kt-footer-bottom {
    background-color: $color-blackish;
    border-top:       $border-dark-gray;
    min-height:       $M*10;
    padding-bottom:   $M;
    
    .kt-footer-bottom-col {
      padding-top: $M*1.5;
      
      h6 {
        font-size: 13px;
        font-weight: bold;
        margin: 0 0 20px;
      }
    }
    
    #kt-footer-bottom-map {
      @extend .kt-footer-bottom-col;
      @extend .col-md-2;
    }
    
    #kt-footer-bottom-coop, #kt-footer-bottom-contact {
      @extend .kt-footer-bottom-col;
      @extend .col-md-5;
    }
  }
}